NOTION_TOKEN=secret_xxx
NOTION_PARENT_PAGE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_PROCESSES_DB_ID=
NOTION_STEPS_DB_ID=
NOTION_SUITABILITY_DB_ID=
NOTION_AGENT_BLUEPRINT_DB_ID=
NOTION_VALUE_METRICS_DB_ID=
ANTHROPIC_API_KEY=sk-ant-xxx
